.cards{
    width: 200px;
    display: inline-block;
}

.ant-card{
    margin:5px
}

.icon{
    font-size: 25px;
    position: absolute;
    top: 50%;
}

.small_image{
    width: 200px;
    height: 200px;
}

#left-icon{
    left:0;
}

#right-icon{
    right:0;
}

#modal-img{
    width: 100%;
}

#modal{
    margin: 20px;
}