#user_portal_home_container{
	width: 100%;
	padding: 10px;
}

.basic_button, .basic_button:focus, .basic_button:hover {
	color: #fff;
	background-color: var(--secondary-color);
	border-color:var(--secondary-color);
	margin: 4px;
	max-width: 100%;
}

.portal_home_cards{
	width: 300px;
	display: inline-block;
	max-width: 100%;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	font-size: 1rem;
}

#user_portal_card_container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media (max-width: 839px) {
	#portal_home_title{
		margin: 30px 0;
		width: 100%;
		text-align: center;
	}
}