#avail-button-link, .avail-button{
  height: 35px;
}

.Home {
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    position: relative
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 110px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .height {
      height:109px;
  }

  .ant-carousel .slick-initialized .slick-slide {
      display: block;
      height: 185px;
  }

  .home_cards {
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap;
      width: 100%;
      margin-bottom: 5em;
  }

  .interest_cards{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
    margin-bottom: 5em;
  }

  .home_card .ant-card-body {
      padding: 0px;
  }

  .group {
      display:inline-flex;
      flex-flow: wrap;
      float: left;
      margin-top: 5em;
      align-items: center;
  }

  .avail_button, .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: var(--secondary-color);
    border-color:var(--secondary-color);
  }

  .avail_button, .ant-btn-primary {
    color: #fff;
    background-color: var(--secondary-color);
    border-color:var(--secondary-color);
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .more_a, a {
      color: var(--secondary-color);
  }

  .more_a, a:hover{
    color: var(--secondary-color);
}

.ant-carousel .slick-dots {
    top:12em;
}

@media (max-width: 493px) {
  .title{
    margin: 1.5rem;
  }
  #avail-button-link{
    margin: 1.5rem;
  }
}

@media (max-width: 1025px){
  .group{
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
    .avail_button, .ant-btn-primary:hover, .ant-btn-primary:focus {
        color: #fff;
        background-color: var(--secondary-color);
        border-color:var(--secondary-color);
      }
    
      .avail_button, .ant-btn-primary {
        color: #fff;
        background-color: var(--secondary-color);
        border-color:var(--secondary-color);
        top: 0;
      }
      .height {
          height: 300px;
      }

      .ant-carousel .slick-initialized .slick-slide {
        height: 376px;
    }

    .ant-carousel .slick-slide {
        height: 300px
      }

      .ant-carousel .slick-dots {
        top:25em;
    }
}

@media (min-width: 1025px) {
    .avail_button, .ant-btn-primary:hover, .ant-btn-primary:focus {
        color: #fff;
        background-color: var(--secondary-color);
        border-color:var(--secondary-color);
      }
    
      .avail_button, .ant-btn-primary {
        color: #fff;
        background-color: var(--secondary-color);
        border-color:var(--secondary-color);
        top: 0;
      }

      .height {
          height: 476px;
      }

      .ant-carousel .slick-initialized .slick-slide {
        height: 552px;
    }

    .ant-carousel .slick-slide {
        height: 300px
      }

      .ant-carousel .slick-dots {
        top:38em;
    }
}
