.Contact
{
    position: relative;
}
.contact-icon{
    font-size: 4.5rem;
}
.contact_info_form_wrapper .ant-form-item-label
{
    text-align:left;
}
.convenience_link
{
    color: var(--secondary-color);
}
.convenience_link:hover
{
    color: var(--tertiary-color);
}
.contact_info_form_wrapper
{
    padding-top:3rem;
    padding-bottom:3rem;
    margin-right:-5rem;
    width:100%;
}
.contact_info_form .ant-form-item-control-wrapper
{
    width:100%;
}
.contact_info_information
{
    clear:left;
    width:100%;
    position: relative;
    height: 150px;
}
.contact-column{
    width: 33%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    float: left;
    padding: 5px;
}
.contact_info_title
{
    float:left;
}
.contact_info_form_button
{
    float:right;
}
.no_link
{
    display:none;
}
.has_link
{
    display:block;
}
@media (max-width:600px){
    .contact-column{
        width: 100%;
        height: auto;
        margin: 10px 0;
        float: none;
    }
    .contact_info_information{
        height: auto;
    }
}
@media (min-width:900px)
{
    .contact_info_form .ant-form-item-control-wrapper
    {
        width:70%;
    }
    .contact_info_form
    {
        margin-left:20%;
    }
}
@media (min-width:1025px)
{
    .no_link
    {
        display: block;
    }
    .has_link
    {
        display: none;
    }
    /* 
    I'm not sure why this is backaway from what I'd expect it to be
    Personally I'd expect you to display the links when the min-width is low enough
    and hide them when the min width exceeds it
    media queries confuse my brain
    */
}