.convenience_link
{
    color: var(--secondary-color);
}
.convenience_link:hover
{
    color: var(--tertiary-color);
}
.contact_info_form_wrapper
{
    padding-top:3rem;
    padding-bottom:3rem;
    margin-right:-5rem;
}
.contact_info_form .ant-form-item-control-wrapper
{
    width:80%;
}
.contact_info_form
{
    margin-left:20%;
}
.contact_info_information
{
    clear:left;
    width:100%;
}
.contact_info_information span
{
    padding-right:1rem;
}
.contact_info_title
{
    float:left;
}
.contact_info_form_button
{
    float:right;
}
.no_link
{
    display:none;
}
.has_link
{
    display:inline-flex;
}
@media (max-width:1199px)
{
    .contact_info_form .ant-form-item-control-wrapper
    {
        width:60%;
    }
}
@media (min-width:1025px)
{
    .no_link
    {
        display: inline-flex;
    }
    .has_link
    {
        display: none;
    }
    /* 
    I'm not sure why this is backaway from what I'd expect it to be
    Personally I'd expect you to display the links when the min-width is low enough
    and hide them when the min width exceeds it
    media queries confuse my brain
    */
}