.Contact
{
    position: relative;
}
.contact-icon{
    font-size: 4.5rem;
}
.convenience_link
{
    color: var(--secondary-color);
}
.convenience_link:hover
{
    color: var(--tertiary-color);
}
.contact_info_information
{
    clear:left;
    width:75%;
    position: relative;
    height: 150px;
    margin: auto;
    height: auto;
}
.contact-column{
    width: 50%;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    float: left;
    padding: 5px;
}
.contact_info_title
{
    float:left;
}
.no_link
{
    display:none;
}
.has_link
{
    display:block;
}
@media (max-width:600px){
    .contact-column{
        width: 100%;
        height: auto;
        margin: 10px 0;
        float: none;
    }
    .contact_info_information{
        height: auto;
    }
}
@media (min-width:1025px)
{
    .no_link
    {
        display: block;
    }
    .has_link
    {
        display: none;
    }
    /* 
    I'm not sure why this is backaway from what I'd expect it to be
    Personally I'd expect you to display the links when the min-width is low enough
    and hide them when the min width exceeds it
    media queries confuse my brain
    */
}