.nav_bar.ant-menu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 20%;
    line-height: 6.2rem;
    margin-left:70%;
}


.logo {
    display: inline-flex;
    justify-content: flex-start;
    position:fixed;
    line-height: 2.0rem;
    width: 70%;
    z-index: 1;
    display:inline-flex;
    float: left;
    border-bottom: 1px solid var(--primary-color);
    background-color: #fff;
}

.nav_items {
    display:inline-flex;
    position: absolute;
    top: 0;
    width: 100%;
}

.menu_item.ant-menu-horizontal > .ant-menu-item-selected {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-item a:hover {
    color: var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-item-selected > a {
    color: var(--secondary-color);
}

.sub_menu_item:hover{
    color: var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover{
    color: var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-submenu:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-submenu a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-submenu-active:hover {
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.menu_item.menu_item.ant-menu-horizontal > .ant-menu-submenu-open:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item > a:hover {
    color: var(--secondary-color);
}

.ant-menu-vertical.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.ant-menu-vertical.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected > a {
    color: var(--secondary-color);
}


.ant-menu-item-selected > a{
    color: var(--secondary-color);
}

.menu_item.ant-menu-horizontal > .ant-menu-submenu-selected {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}


.menu_item.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: var(--secondary-color);
}

.menu_item.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active > .ant-menu-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.ant-menu-vertical .ant-menu-submenu-selected {
    color: var(--secondary-color);
}

.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active {
    color: var(--secondary-color);
}

.ant-menu-submenu-title:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
.ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
  background: -webkit-linear-gradient(left, var(--secondary-color), var(--secondary-color));
  background: linear-gradient(to right, var(--secondary-color), var(--secondary-color));
}

.access_container {
    padding-left: 1.5em;
    margin-top: 2.5em;
}



@media (max-width: 320px) {
    .access_container {
        margin-top: 1.5em;
    }

}

@media (min-width: 768px) {
    .logo {
        width: 50%
    }
    .nav_bar.ant-menu {
        width: 35%;
        margin-left: 40%;
    }

    .access_container {
        padding-left: 2.5rem;
        display: inline-flex;
        margin-top: 2rem;
    }

}

@media (min-width: 1200px) {
    .logo {
        width: 50%
    }
    .nav_bar.ant-menu {
        width: 50%;
        margin-left: 25%;
    }

    .access_container {
        padding-left: 2.5rem;
        display: inline-flex;
        margin-top: 2rem;
    }

}



