.footer{
    display: inline-flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    height: 35px;
    width: 100%;
}

.footer_link {
    margin-left: 1rem;
}

@media (max-width: 415px) {
    .footer {
        display: block;
    }
}