.footer_convenience_link
{
    color: var(--secondary-color);
}
.footer_convenience_link:hover
{
    color: var(--tertiary-color);
}

#footer{
    margin-top: 20px;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    #footer{
        height: 75px;
    }
  }

@media only screen and (max-width: 500px) {
    #footer{
        height: 100px;
    }
}
@media only screen and (max-width: 300px) {
    #footer{
        font-size: .75rem;
        height: 150px;
    }
}

.footer_no_link
{
    display:none;
}
.footer_has_link
{
    display:block;
}
@media (min-width:1025px)
{
    .footer_no_link
    {
        display: block;
    }
    .footer_has_link
    {
        display: none;
    }
}