
  .ant-pagination-item-active a {
    color: var(--secondary-color)
}

.ant-pagination-item-active {
  border-color: var(--secondary-color);
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover{
  border-color: var(--secondary-color);
}

.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
  color: var(--secondary-color);
}

.ant-pagination-item:focus, .ant-pagination-item:hover{
  border-color: var(--secondary-color);
}

.ant-pagination-item:focus a, .ant-pagination-item:hover a{
  color: var(--secondary-color);
}

.ant-pagination-prev:hover a, .ant-pagination-next:hover a{
  border-color: var(--secondary-color);
}

.ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link{
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon{
  color: var(--secondary-color);
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon{
  color: var(--secondary-color);
}

.Property{
  padding-bottom: 2rem;
}

.picture_display {
      display: flex;
      justify-content: center;
  }

  .ant-card-bordered-geo {
    border: none;
  }
  
  .ant-pagination {
    margin-bottom: 2rem;
  }

  .card_images{
    display: inline-block;
    width: 15rem;
    height: 15rem;
    
  }
  
  @media only screen and (max-width: 984px){
    .picture_display{
      flex-direction: column;
      align-items: center;
    }
  }